<!-- templates/app/footer.html -->
<footer class="text-white text-center text-lg-start" style="background-color: #001233;">
    <!-- Container pour le contenu du footer -->
    <div class="container p-4">
      <div class="row mt-4">
        <!-- Colonne 1 : À propos de l'entreprise -->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">À Propos</h5>
          <p>
            Nous transformons l'inscription universitaire avec la technologie NFT. En vérifiant les informations de votre carte INE, nous créons et émettons un NFT unique pour chaque étudiant de l'UVBF, garantissant une preuve d'inscription valide pour l'année en cours.
          </p>
          <!-- Social -->

								<!-- End Social -->
        </div>
  
        <!-- Colonne 2 : Horaires d'ouverture et contact -->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Horaires d'Ouverture</h5>
          <p>
            Notre équipe est disponible pour vous assister du lundi au vendredi, de 8h à 17h.
          </p>
          <h5 class="text-uppercase mb-4">Contacts</h5>
          <ul class="list-unstyled">
            <li><i class="fas fa-envelope"></i> Email : <a href="mailto:contact@uvbf.com" class="text-white">contact@uvbf.com</a></li>
            <p></p>
            <li><i class="fas fa-phone"></i> Téléphone : (+226) 65 75 81 30 / 56 66 59 55</li>
          </ul>
        </div>
  
        <!-- Colonne 3 : Newsletter -->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Newsletter</h5>
          <p>Restez informé des dernières évolutions concernant les NFTs pour les étudiants de l'UVBF. Inscrivez-vous à notre newsletter pour recevoir des mises à jour importantes et des informations sur votre inscription.</p>
          <div class="form-outline form-white">
            <input type="email" id="formControlLg" class="form-control form-control-lg" placeholder="Votre email" />
            <button class="btn btn-light btn-lg mt-2">S'inscrire</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 UVBF
    </div>
  </footer>
  