<!-- templates/app/header.html -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">UVBF NFT HUB</a>
  
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
             Accueil
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              Contact
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
            A Propos
            </a>
          </li>

          {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="true">
              <i class="far fa-envelope me-2"></i>Dropdown
 
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> {% endcomment %}
        </ul>
        <!-- Left links -->
  
        <!-- Right links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              S'identifier
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
             
            </a>
          </li>

        </ul>
        <!-- Right links -->
  
        <!-- Search form -->
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  













{% comment %} <!-- templates/header.html -->
<header>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'accueil' %}">Mon Site</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'accueil' %}">Accueil</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'a_propos' %}">À propos</a></li>
        </ul>
    </nav>
</header> {% endcomment %}
